body {
    background-color: #292929;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;

    border-bottom: solid #292929;
    border-width: 2px;

    /* Fondo transparente */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);

    /* Se mantiene en pantala cuando se scrollea */
    z-index: 1000;
    /* position: fixed;*/

    font-family: 'Kanit', sans-serif;
}

#primerTercioNav {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ICONO */
.menu-icon {
    width: 6%;
    margin-left: 7%;
    margin-top: 3.2%;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.3s;
}

/* Animación del icono del desplegable */
.menu-icon:hover .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon:hover .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon:hover .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* DESPLEGABLE */
.menu-desplegable {
    width: 7%;
    position: absolute;
    top: 8%;
    left: 0.5%;
    padding: 1%;

    display: none;
    visibility: hidden;
    background-color: white;
    border: solid;
    border-width: 0.1px;
    border-radius: 10px;
    box-shadow: -10px 10px 20px rgb(0, 0, 0);
    z-index: 1;
}

/* Estilos para los elementos del menú desplegable */
.menu-desplegable a {
    transition: color 0.2s ease;

    display: block;
    padding: 1%;
    margin: 1%;

    text-align: center;
    color: #333;
    text-decoration: none;
    margin-top: 2%;
}

.menu-desplegable a:hover {
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 5px;
    cursor: pointer;
}

#enlacePython:hover {
    color: #F37100;
}

#enlaceJavaScript:hover {
    color: #F37100;
}

#enlaceHtml:hover {
    color: #F37100;
}

/* Mostrar el menú desplegable al hacer hover sobre el contenedor */
.menu-icon:hover .menu-desplegable {
    display: block;
    visibility: visible;
}

/* ---------------------------------------------- */

#segundoTercioNav {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#logoDelNav {
    width: 10%;
    margin: 2%;
    margin-left: 45%;
}

/* ---------------------------------------------- */

#tercerTercioNav {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: right;
    align-items: center;
}

.seccionClicableNav {
    transition: color 0.2s ease;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 2.5%;
    color: black;
}

.seccionClicableNav:hover {
    background-color: rgba(0, 0, 0, 0.158);
    color: #F37100;
    border-radius: 10px;
    cursor: pointer;
}





.cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
}

.cardBox:hover .card {
    transform: rotateY(180deg);
}

.card {
    cursor: default;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 300px;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.card p {
    margin-bottom: 1.8em;
}

.card .front,
.card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.card .front strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
}

.card .back {
    transform: rotateY(180deg);
}

.card .back a {
    padding: 0.3em 0.5em;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
}

.card .back a:hover {
    background: #fff;
    color: #333;
    text-shadow: 0 0 1px #333;
}

.cardBox:first-child {
    margin-right: 150px;
    /* Ajusta el valor según la separación horizontal que desees */
}


.cardBox:nth-child(2) {
    margin-right: 150px;
    /* Ajusta el valor según la separación horizontal que desees entre el segundo y tercer hijo */
}


/* Estilo específico para el lado frontal de la Tarjeta 1 */
.cardBox:nth-child(1) .front {
    background-image: url('../MULTIMEDIA/Imágenes/HTML.png');
    background-size: cover;
    background-position: center;
}

/* Estilo específico para el lado frontal de la Tarjeta 2 */
.cardBox:nth-child(2) .front {
    background-image: url('../MULTIMEDIA/Imágenes/CSS.png');
    background-size: cover;
    background-position: center;
}

.cardBox:nth-child(3) .front {
    background-image: url('../MULTIMEDIA/Imágenes/js.png');
    background-size: cover;
    background-position: center;
}
.cardBox:nth-child(1) .card .back {
    background: rgb(173, 234, 218);
}

.cardBox:nth-child(2) .card .back {
    background: orange;
}

.cardBox:nth-child(3) .card .back {
    background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
    background: tomato;
}

.cardBox:nth-child(2) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .cardBox {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
    }

    .card {
        height: 285px;
    }

    .cardBox:last-child {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 480px) {
    .cardBox {
        width: 94.5%;
    }

    .card {
        height: 260px;
    }
}

h3{
    color: #fff;
}


/* Estilo específico para el título con gradiente */
.gradient-title {
    background: linear-gradient(to right, #723e5b, #df9ef0); /* Cambia los colores según tus preferencias */
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
  
  /* Otros estilos para el título si es necesario */
  

#parrafo1{
    color: #222;
}

.boxesContainer {
    display: none;
}

.arrow {
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
}


.neonArrow {
    position: relative;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.neonArrow::before {
    content: '\2193'; /* Unicode arrow down character */
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #00fff9;
    filter: brightness(150%) blur(10px);
    pointer-events: none;
}

.neonText {
    position: relative;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    margin-bottom: 10px;
    background: linear-gradient(45deg, #c951e7, #b4de5f);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    width: 100%;

}

.neonText:hover {
    background: linear-gradient(45deg, #b4de5f, #c951e7);
    color: #000;
}

.neonArrow {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    color: #00fff9;
    filter: brightness(150%) blur(10px);
    pointer-events: none;
    
}

.neonText:hover .neonArrow {
    opacity: 1;
}

.neonText::before {
    content: 'CURSOS DE HTML';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #00fff9;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    animation: neon 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes neon {
    from {
        filter: brightness(200%) blur(50px);
        opacity: 0.8;
    }
    to {
        filter: brightness(150%) blur(20px);
        opacity: 1;
    }
}

.dropdown {
    overflow: hidden;
}

.boxesContainer {
    display: none;
    transition: height 0.3s ease-in-out;
}

.neonTextCSS {
    position: relative;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    margin-bottom: 10px;
    background: linear-gradient(45deg, #c951e7, #b4de5f);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    width: 100%;
}

.neonTextCSS:hover {
    background: linear-gradient(45deg, #7fd6e1, #ff6b6b);
    color: #000;
}

.neonArrowCSS {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    color: #00fff9;
    filter: brightness(150%) blur(10px);
    pointer-events: none;
}

.neonTextCSS:hover .neonArrowCSS {
    opacity: 1;
}

.neonTextCSS::before {
    content: 'CURSOS DE CSS';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #00fff9;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    animation: neon 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes neonCSS {
    from {
        filter: brightness(150%) blur(10px);
        opacity: 0.8;
    }
    to {
        filter: brightness(150%) blur(20px);
        opacity: 1;
    }
}